<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: white;
        }
    </style>
</head>

@model IEnumerable<Tournament>

<h2>Tournament</h2>


<div style="display: block">
    <a href="/Tournament/InsertTournament/">Create a New Tournament</a>
</div>

<table class="table">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Total_Prize</th>
    </tr>

    @foreach (var tournament in Model)
    {
        <tr>
            <td><a href=/Tournament/ViewTournament/@tournament.ID>@tournament.ID</a></td>
            <td>@tournament.Name</td>
            <td>@tournament.Total_Prize</td>
        </tr>

    }
</table>


