@model Tournament

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>Tournament_ID</th>
        <th>Name</th>
        <th>Total_Prize</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Total_Prize</td>
    </tr>

</table>

<div style="display: block">
    <a href="/Tournament/UpdateTournament/@Model.Name">Update this Tournament</a>
</div>


