<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: white;
        }
    </style>
</head>


<div class="text-center">
    <h1 class="display-4">ProCircuit</h1>
    <p>Find out your net winnings</p>
</div>
