<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color: white;
        }
    </style>
</head>



@model IEnumerable<CircuitTournaments>

<h2>CircuitTournaments</h2>

<div style="display: block">
    <a href="/CircuitTournament/InsertCircuitTournament/">Create a New CircuitTournaments</a>
</div>


<table class="table">
    <tr>
        <th>ID</th>
        <th>TournamentName</th>
        <th>PrizeMoney</th>
        <th>NetWinnings</th>

    </tr>

    @foreach (var circuit in Model)
    {
        <tr>
            <td><a href=/CircuitTournaments/ViewCircuitTournaments/@circuit.ID>@circuit.ID</a></td>
            <td>@circuit.TournamentName</td>
            <td>@circuit.PrizeMoney</td>
            <td>@circuit.NetWinnings</td>
        </tr>

    }
</table>


